@import '~style/config'
@import '~style/layout'
@import '~style/text'
@import '~style/icons'

:local(.prefix)
	page-box()
	position: relative

	> *
		.link-back
			link-back()

		> .backdrop
			position: absolute
			top: 0
			left: 0
			right: 0
			height: 30rem
			background-repeat: no-repeat
			background-size: cover
			background-position: center
			-webkit-mask-image: linear-gradient(to bottom, black 40%, transparent)
			// mask: url(#mask-fade-bottom) // Do in style attribute

		> article
			margin-top: 20rem
			position: relative
			z-index: 1

			> header
				> h1
					display: inline-block
					margin: 0 0 2rem -0.5ex
					padding: 0.25ex 1ex 0.25ex 0.5ex
					color: #eee
					text-shadow: 1px 1px 0 hsla(black, 0.5)
					background-color: hsla(black, 0.333)

				> .dates
					color: lighten(colors.text, 25%)

					time
						font-weight: normal

				> .links
					> *
						border: 0
						margin-right: 1ex

						{interact}
							color: inherit

						&:before
							font-size: 0.8em
							margin-right: 1ex

					.permalink
						&:before
							fa(link)

					.backdrop-original
						&:before
							fa(image)

				p
					margin: 0
					line-height: 1.4

			> main
				.content
					margin-top: 3rem
					-webkit-columns: 22rem
					-moz-columns: 22rem
					columns: 22rem
					-webkit-column-gap: 5rem
					-moz-column-gap: 5rem
					column-gap: 5rem

					> {sections}
						&:first-child
							{headings}
								margin-top: 0

				> *
					{headings}
						position: relative

						{interact}
							.section-anchor
								opacity: 1

						.section-anchor
							section-anchor()

				.note
					note-box()

				figure
					figure-box()

				ol, ul
					padding: 0

				dl
					dt
						font-style: italic

				.footnote-ref
					border: 0

					&:after
						fa(chevron-up)
