@import '~style/config'

/*
** Delicious
*/

@font-face
	font-family: Delicious
	src: url(assets + '/fonts/delicious-roman.woff2') format('woff2'), url(assets + '/fonts/delicious-roman.woff') format('woff')
	font-weight: 400
	font-style: normal

@font-face
	font-family: Delicious
	src: url(assets + '/fonts/delicious-bold.woff2') format('woff2'), url(assets + '/fonts/delicious-bold.woff') format('woff')
	font-weight: 700
	font-style: normal

/*@font-face
	font-family: Delicious
	src: url(assets + '/fonts/delicious-heavy.woff2') format('woff2'), url(assets + '/fonts/delicious-heavy.woff') format('woff')
	font-weight: 900
	font-style: normal
*/
@font-face
	font-family: Delicious
	src: url(assets + '/fonts/delicious-italic.woff2') format('woff2'), url(assets + '/fonts/delicious-italic.woff') format('woff')
	font-weight: normal
	font-style: italic

@font-face
	font-family: Delicious
	src: url(assets + '/fonts/delicious-bolditalic.woff2') format('woff2'), url(assets + '/fonts/delicious-bolditalic.woff') format('woff')
	font-weight: 700
	font-style: italic

/*@font-face
	font-family: Delicious
	src: url(assets + '/fonts/delicious-smallcaps.woff2') format('woff2'), url(assets + '/fonts/delicious-smallcaps.woff') format('woff')
	font-weight: normal
	font-style: normal
	font-variant: small-caps*/


/*
** Museo
*/

/*@font-face
	font-family: Museo
	src: url(assets + '/fonts/museo-regular.woff2') format('woff2'), url(assets + '/fonts/museo-regular.woff') format('woff')
	font-weight: 500
	font-style: normal

@font-face
	font-family: Museo
	src: url(assets + '/fonts/museo-light.woff2') format('woff2'), url(assets + '/fonts/museo-light.woff') format('woff')
	font-weight: 300
	font-style: normal

@font-face
	font-family: Museo
	src: url(assets + '/fonts/museo-bold.woff2') format('woff2'), url(assets + '/fonts/museo-bold.woff') format('woff')
	font-weight: 700
	font-style: normal*/



/*
** Garamond
*/

@font-face
	font-family: Garamond
	src: url(assets + '/fonts/garamond-italic.woff2') format('woff2'), url(assets + '/fonts/garamond-italic.woff') format('woff')
	font-weight: 500
	font-style: italic



/*
** Font Awesome
*/

$fa-font-path = '../../../node_modules/font-awesome-stylus/fonts'
@import '../../../node_modules/font-awesome-stylus/stylus/path'
@import '../../../node_modules/font-awesome-stylus/stylus/variables'
@import '../../../node_modules/font-awesome-stylus/stylus/mixins'
